input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

   
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 3px solid #ff0000;
    width: 100%;  
}

input[type=submit] {
    width: 100%;
    background-color: #f75462;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f04949;
}
#recuperarPass{
    width: 100%;
    background-color: #f75462;
    color: white;
    float: none;
    padding-top: 16px;
}
#recuperarPass:hover{background-color: #f04949;}
.registrarse{
	width: 100%;
	background-color: #f75462;
	border: 1px solid #f75462;
	margin-top: 20px;
    display: block;
    float: none;
}