/* Padding, espacio de un elemento con el borde, en funcion del "centro" del elemento. 
Margin: espacio de un elemento desde el borde hacia otro elemento, i.e el espacio entre elementos.
max-width: pantalla menor o igual al valor dado.
min-width: pantalla mayor o igual a valor dado.
*/
@import url("input.css");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

body{
	background:#fff;
    color:#292727;
	direction:ltr;
    font-family:'Roboto',sans-serif;
    font-size:14px;
    line-height:20px;
    margin:0;
    padding:0
}
  body,input,textarea,select,button {
    color:#292727;
    font-family:roboto,arial,sans-serif
   }
 

   @media all and (min-width:601px) {
    .dimPan {
     display:-webkit-box;
     display:-moz-box;
     display:-ms-flexbox;
     display:-webkit-flex;
     display:flex;
     flex-direction:column;
     min-height:100vh;
     position:relative;
    }
    

    .dimPan:before,.dimPan:after {
     box-flex:1;
     flex-grow:1;
     content:'';
     display:block;
     height:24px
    }
    .dimPan:before {
     min-height:30px
    }
    .dimPan:after {
     min-height:24px
    }
    .dimPan.cajPrin:after {
     min-height:64.8px
    }
   }
.LJtPoc {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    flex-direction:column;
    background:#fff;
    box-sizing:border-box;
    max-width:100%;
    position:relative;
    z-index:2;
   }

.cajPrin .LJtPoc {
    min-height:100vh
   }

@media all and (min-width:601px) {
    .cajPrin .LJtPoc {
     min-height:0;
    }
    .LJtPoc,.bdf4dc { ---
     transition:.2s;
    }
    .LJtPoc {
     flex-shrink:0;
     background:#dbfefa;
     -moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
     box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
     display:block;
     margin:0 auto;
     min-height:0;
     width:450px
    }
    .LJtPoc.qmmlRd {
     width:450px;
    }
   }
 @media all and (min-width:601px) {
    .qmmlRd .bdf4dc {
     height:auto;
     min-height:470px;
    }
   }
 @media all and (min-width:601px) and (orientation:landscape) {
    .LJtPoc.v7usYb {
     width:450px
    }
    .v7usYb .bdf4dc {
     height:auto;
     min-height:500px
    }
   }
   .LJtPoc .c8DD0,.LJtPoc .IdAqtf {
    position:fixed
   }
   @media all and (min-width:601px) {
    .LJtPoc .c8DD0,.LJtPoc .IdAqtf {
     position:absolute
    }
   }
 .bdf4dc {
    box-flex:1;
    flex-grow:1;
    box-sizing:border-box;
    overflow:hidden;
    padding:24px 24px 36px
   }
   .bdf4dc.nnGvjf {
    overflow:visible;
    position:relative;
    z-index:1
   }
 .nnGvjf .RFjuSb {
    overflow:visible
   }
 @media all and (min-width:450px) {
    .bdf4dc {
     padding:48px 40px 36px;
    }
   }
   @media all and (min-width:601px) {
    .bdf4dc {
     height:auto;
     min-height:500px;
     overflow-y:auto;
    }
   }
 .bxPAYd {
    margin:auto -24px
   }
   @media all and (min-width:450px) {
    .bxPAYd {
     margin:auto -40px;
    }
   }
 .k6Zj8d {
    padding-left:24px;
    padding-right:24px
   }
   @media all and (min-width:450px) {
    .k6Zj8d {
     padding-left:40px;
     padding-right:40px
    }
   }

.dimPan~.nY5oDd,.dimPan~.nY5oDd .jveIPe { ----
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    flex-direction:column
   }
   .dimPan~.nY5oDd {
    -moz-border-radius:2px;
    border-radius:2px;
    color:#757575;
    font-size:14px;
    line-height:1.5;
    min-height:240px;
    width:280px
   }
   .dimPan~.nY5oDd.nDmuSb {
    width:auto
   }
   .dimPan~.nY5oDd .jE5rrf {
    color:#212121;
    font-size:16px;
    font-weight:500;
    margin-bottom:24px
   }
   .dimPan~.nY5oDd .z2Z95 {
    color:#f44336
   }
   .dimPan~.nY5oDd .jE5rrf:empty {
    margin:0
   }
   .dimPan~.nY5oDd .fuqAvf {
    box-flex:1;
    flex-grow:1;
    padding:24px 24px 12px
   }
   .dimPan~.nY5oDd .jE5rrf:empty~.RUor5 {
    font-size:16px
   }
   .dimPan~.nY5oDd .RUor5>:first-child {
    margin-top:0
   }
   .dimPan~.nY5oDd .RUor5>:last-child {
    margin-bottom:0
   }
   .dimPan~.nY5oDd .jveIPe {
    align-items:flex-end;
    padding:0 16px 12px;
    text-align:right
   }
   .dimPan~.nY5oDd.nDmuSb .jveIPe {
    background:#fafafa;
    display:block;
    padding-bottom:0;
    position:relative
   }
   .dimPan~.nY5oDd .x81T2e {
    -moz-border-radius:2px;
    border-radius:2px;
    padding:12px
   }
   .dimPan~.nY5oDd .x81T2e:focus {
    background-color:rgba(0,0,0,0.12)
   }
@media all and (min-width:601px){
	 .RAYh1e.qmmlRd {
     width:450px
    }
	
}
  @media all and (min-width:601px) {
    .RAYh1e.qmmlRd .xkfVF {
     height:auto;
     min-height:500px
    }
   }
.RFjuSb {
    overflow:hidden
   }


 



 

