/* Padding, espacio de un elemento con el borde, en funcion del "centro" del elemento. 
Margin: espacio de un elemento desde el borde hacia otro elemento, i.e el espacio entre elementos.
max-width: pantalla menor o igual al valor dado.
min-width: pantalla mayor o igual a valor dado.
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
body{
    font-size: 15px;
   font-family: 'Roboto', sans-serif;
}
/* Fila y columna de Grillas. Desde lo celulares hasta PCs */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}
.login-seccion{
    width: 100%;
    padding: 25px;
    margin: auto;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #ffffff; 
    -webkit-box-shadow: 4px 5px 8px rgba(0,0,0,.25); 
    -moz-box-shadow: 4px 5px 8px rgba(0,0,0,.25); 
    box-shadow: 4px 5px 8px rgba(0,0,0,.25); 
}

.login-seccion:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

   
}
input[type=text]:focus, input[type=password]:focus {
    border-bottom: 3px solid red;
}

input[type=submit] {
    width: 100%;
    background-color: #f75462;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f04949;
}
#recuperarPass{
    width: 100%;
    background-color: #d17d84;
    color: white;
    float: none;
    padding-top: 16px;
}
.registrarse{
    display: block;
       float: none;
}

.container {
    /* border:2px solid red; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
 
  @media  screen and (min-width: 470px) {
    .container {
      width: 100%;
    }
    body{
        background-color: black;
    }
    .login-seccion{
        width: 100%;
    }
    #recuperarPass{
    width: auto;
    padding: 10px 18px;
    }
    .registrarse{
        float: right;
        padding-top: 16px;
    }
      
  }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px;
    }
    .login-seccion{
        width: 100%;
    }
    body{
        background-color: orange;
    }
    #recuperarPass{
        width: auto;
    padding: 10px 18px;
    }
    .registrarse{
        float: right;
        padding-top: 16px;
    }
  
      
  }
  @media  screen and (min-width: 992px) {
    .container {
      width: 970px;
    }
    .login-seccion{
        width: 60%;
    }
    body{
        background-color: red;
    }
    #recuperarPass{
        width: auto;
        padding: 10px 18px;
    }
    .registrarse{
        float: right;
        padding-top: 16px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    .login-seccion{
        width: 60%;
    }
    #recuperarPass{
        width: auto;
        padding: 10px 18px;
    }
    .registrarse{
        float: right;
        padding-top: 16px;
    }
    body{
        background-color: blue;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  

